[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2020.6.20"
chardet = "==3.0.4"
idna = "==2.10"
requests = "==2.24.0"
urllib3 = "==1.25.10"

[requires]
python_version = "3.8"
